<footer style="background:#333; padding:10px;">
    <p class="p-0 m-0 text-white text-center" style="font-size:11px;"> © 2017 ALL RIGHTS RESERVED. DESIGN & DEVELOPMENT BY DREAM TERMS & CONDITIONS PRIVACY POLICY </p>
</footer>