<header class="container-fulid">
    <div class="row mx-0">
        <div class="logo col-xs-12 col-sm-12 col-md-2 p-2 text-center">
            <a href="/">
                <img style="width:100px; height:auto;" src="http://localhost:3000/assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  p-2  py-3 text-center">
            <div class="px-3">
                <input style="width:100%; border-radius:7px;" type="text" />
            </div>
        </div>
        <ul class="col-xs-12 col-sm-12 col-md-4 menu  py-3 text-center">
           {{!--  <li>
                <a class="" href="/">
                    <i class="icon-menu fa fa-home" aria-hidden="true"></i>
                </a>
            </li> --}}
            <li>
                <a href="/blogs">
                    <i class="icon-menu fa fa-file-text-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#contact">
                    <i class="icon-menu fa fa-tag" aria-hidden="true"></i>
                </a>
            </li>

            {{#if user}}

                     <li class="nav-item dropdown">
                          <a style="font-size: 1.0rem; color: #fff; padding: 0 10px; " href="#"
                        class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.email}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a  style="color:#000;"  class="dropdown-item" href="/users/{{user._id}}/bloglist">Your Idea</a>
                          <a  style="color:#000;"  class="dropdown-item" href="#">Setting</a>
                          <div  class="dropdown-divider"></div>
                          <a  style="color:#000;"  class="dropdown-item" href="#">Logout</a>
                        </div>
                      </li>


              
            {{else}}

                    <li>
                        <a href="" data-toggle="modal" data-target="#registerModal">
                            {{!--
                            <i style="color:white;" class="icon-menu fa fa-sign-out" aria-hidden="true"></i> --}} Signup
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#loginModal">
                            Login
                        </a>
                    </li>
            {{/if}}
        </ul>
    </div>
</header>


    <!-- Modal  Register-->
  <div class="modal fade show" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">เข้าร่วมกับเราเพื่อแชร์ไอเดียของคุณ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="register_form" method="post" action="/users/register">
    
                        <div class="form-group">
                            <label for="full_name">Full Name</label>
                            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <label class="form-check-label" style="display:block;">
                                <input id="confirm_rule"  name="confirm_rule" type="checkbox" class="form-check-input">  This is policy our spark-ideal
                            </label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button id="submit_register" type="submit" class="btn btn-success">Sign Up</button>
                </div>
                </form>
            </div>
        </div>
    
    </div> 


        <!-- Modal  Login-->
        <div class="modal fade show" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">เข้าสู่ระบบ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="login_form" method="post" action="/users/login">
                            <div class="form-group">
                                <label for="email_login">Email address</label>
                                <input type="email_login" class="form-control" id="email_login" name="email_login" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password_login">Password</label>
                                <input type="password" class="form-control" id="password_login" name="password_login" placeholder="Password">
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button id="submit_login" type="submit" class="btn btn-success">Login</button>
                    </div>
                    </form>
                </div>
            </div>
        
        </div>

<script>    
    {{#if msgError}}
        var errorValid = {{ msgError }};
        if (errorValid) {
            alert('Email นี้มีอยู่ในระบบของเราอยู่แล้ว !');
        }
    {{/if}}

</script>








