<section class="container p-5">
    <h3 class="p-2">มาเริ่มไอเดียใหม่ ๆ กันเถอะ ? </h3>
    <form action="/blogs" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input name="title" type="text" class="form-control" id="title" placeholder="หัวข้อไอเดียของคุณ">
        </div>
        <div class="form-group">
            <textarea name="body" id="body" class="editable"></textarea>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ประเภทของไอเดีย !</label>
            <input name="tags" class="tags" type="text" class="form-control" id="tags" placeholder="Tags">
        </div>

        <div class="form-group">
            <label for="imgCover">เลือกภาพ Cover ของคุณ</label>
            <input name="imgCover" type="file" class="form-control-file" id="imgCover">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">สถานะของไอเดียคุณ</label>
            <select id="status" name="status" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                <option value="draft" selected>Draft</option>
                <option value="post">เผยแพร่ไปสู่สาธาระณะ</option>
            </select>
        </div>


        <div class="text-right mt-3">
            <a href="/" class="btn btn-lg btn-danger">
                Cancle
            </a>
            <button type="submit" class="btn btn-lg btn-success">
                Save
            </button>
        </div>

    </form>

</section>