<section class="container-fulid">

    <div class="" style="
                min-height:300px;
                width:100%;
                position:relative;
                background-image : url('{{post.imgCover}}');
                background-size: cover;
                background-repeat:no-repeat;
                ">

        <div style="
                position:absolute; 
                left:100px;
                bottom:20px; background-color:#333333d9;" class="p-1 text-center">
            <h2 class="text-white">
                {{post.title}}
            </h2>
        </div>

    </div>
</section>





<section class="container p-3">

    <div class="d-flex my-2 flex-row align-items-center  blog-icon-desc">
        <div class="mr-2">
            <i style="font-size:1.5rem;" class="fa fa-user-o" aria-hidden="true"></i>
            <span class="ml-2">20</span>
        </div>
        <div class="mr-2">
            <i style="font-size:1.5rem;" class="fa fa-comment-o" aria-hidden="true"></i>
            <span class="ml-2">20</span>
        </div>
    </div>

    <div class="blog-content">
            <p class="blog-body">{{{post.body}}}</p>
            <div class="d-flex flex-column align-items-end">
                {{!-- <p style="font-weight:500;">Author : {{post.author.email}}</p> --}}
                <p style="font-weight:500;">{{post.editDate}}</p>
                <div class="d-flex flex-row">
                     {{#each post.meta.tags}}
                    <button class="mr-1 btn btn-secondary">{{this}}</button>
                     {{/each}}
                </div>
            </div>
    </div>
    <hr>
</section>

{{!-- <section class="container blog-comment mb-3">
    <form>
        <div class="form-row align-items-center justify-content-center">
            <div class="col-auto">
                <input type="text" class="form-control mb-2 mb-sm-0" placeholder="Comment...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Post</button>
            </div>
        </div>
    </form>
</section>
 --}}