

<section class="container p-5">
    <h3 class="p-2">มาเริ่มไอเดียใหม่ ๆ กันเถอะ ? </h3>
        <form id="blog-edit"  enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden"  id="_id"  value="{{post._id}}" />
                <input name="title" type="text" class="form-control" id="title" value="{{post.title}}" placeholder="หัวข้อไอเดียของคุณ">
            </div>
            <div class="form-group">
                <textarea name="body" id="body" class="editable">
                		{{ post.body}}
                </textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">ประเภทของไอเดีย !</label>
                <input name="tags" class="tags" type="text" class="form-control" id="tags" placeholder="Tags" value="{{post.meta.tags}}" >
            </div>

            <div class="form-group">
                <label for="imgCover">เลือกภาพ Cover ของคุณ</label>
                <div id="img-have">
					<a id="img-edit" class="btn btn-sm btn-primary text-white">เปลี่ยนรูป</a>
					<br>
					<img style="width:50%;" class="my-2 img-fluid img-thumbnail" src="{{post.imgCover}}" alt="">
                </div>
                <div id="img-not-have" style="display:none;">
		                <input name="imgCover" type="file" class="form-control-file" id="imgCover">                	

                </div>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">สถานะของไอเดียคุณ</label>
                <select id="status" name="status" class="custom-select mb-2 mr-sm-2 mb-sm-0" >
                    <option value="draft" selected>Draft</option>
                    <option value="post">เผยแพร่ไปสู่สาธาระณะ</option>
                </select>
            </div>

        


    <div class="text-right mt-3">
        <a href="/" class="btn btn-lg btn-danger">
            Cancle
        </a>
        <button id="form_update_blog" class="btn btn-lg btn-success">
            Save
        </button>
    </div>

        </form>

</section>

