

<!-- jumbortron -->
<section class="container-fluid section-content-card">
    <div class="row box-button-add">
        <div class="panel-black">
            <h4 class="m-0 p-0 text-center text-white">มีไอเดียอะไรไหม ?</h4>
        </div>
        <div class="col-md-12 text-center">
            <a href="/blogs/create">
                <i style="font-size:7rem;" class="text-white fa fa-lightbulb-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

    <!-- content list -->
    <section class="container-fulid px-5 py-3">
        <div class="row">
             {{#each posts}}
            <div class="col-md-4 col-lg-3 col-xl-2 my-2 ">
                <a href="/blogs/{{_id}}" class="link-card">
                    <div class="card card-custom">
                        <img src="http://picharnan.com/wp-content/uploads/2017/04/blog-cover.png" alt="" class="card-img-top">
                        <div class="card-body p-0">
                            <h5 class="p-2 card-title" style="">{{title}}</h5>
                            <div  class="wrapper-desc-card" style="font-size:13px;">
                                <span>{{moment createDate}}</span>
                                <span>
                                    <i class="fa fa-user" aria-hidden="true"></i> 12</span>
                                <span>
                                    <i class="fa fa-comment" aria-hidden="true"> 23</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                {{/each}}
        </div> 
        {{!-- end row --}}
    </section>






    