<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,600,700" rel="stylesheet">


  <script src="/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/plugins/jquery-validation/dist/jquery.validate.js"></script>
  <script src="/plugins/jquery-validation/dist/additional-methods.js"></script>
  <link rel='stylesheet' href='/stylesheets/styles.css' />

  <!-- include summernote css/js-->
  <link href="/plugins/summernote/summernote-bs4.css" rel="stylesheet">
  <script src="/plugins/summernote/summernote-bs4.js"></script> {{!-- include tags-input --}}
  <link rel="stylesheet" href="/plugins/jquery-tags-input/dist/jquery.tagsinput.min.css" />
  <script src="/plugins/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>

</head>

<body>
  {{> header }} {{{body}}} {{> footer }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script src="/js/sprak_script.js"></script>
</body>

</html>