    <h1 class="text-center my-2">Your Ideas</h1>    
    <hr style="margin:0 20px">
    <!-- content list -->
    <section class="container-fulid px-5 py-3">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#"> Idea ที่เผยแพร่ </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Idea Draft</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-xs-12">
                <div class="row">
                {{#each posts}}
                    <div class="col-md-3 my-2 ">
                            <a href="#" class="link-card">
                                <div class="card card-custom">
                                    <img src="http://picharnan.com/wp-content/uploads/2017/04/blog-cover.png" alt="" class="card-img-top">
                                    <div class="card-body p-0">
                                        <h5 class="p-2 card-title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{title}}</h5>
                                        <div  class="wrapper-desc-card" style="font-size:13px;">
                                            <span>{{moment createDate}}</span>
                                            <span>
                                                <i class="fa fa-user" aria-hidden="true"></i> 12</span>
                                            <span>
                                                <i class="fa fa-comment" aria-hidden="true"> 23</i>
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-end p-2">
                                            <a href="/blogs/{{_id}}/edit" class="d-flex mx-1 btn btn-sm  btn-warning">แก้ไข</a>
                                            <a href="/blogs/{{_id}}/delete" class="d-flex mx-1 btn btn-sm btn-danger">ลบ</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                {{/each}}
                </div>
            </div>
            {{!-- end col-8 --}}
        </div> 
        {{!-- end row --}}
    </section>
