*{
  font-family: 'Kanit', sans-serif;
}
header {
  background-color: #ff3232;
}

header > .row {
  padding: 0;
}

.logo {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
}

ul.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: transparent;
  /*overflow: hidden;*/
  margin: 0;
}

ul.menu li {
  float: left;
  padding: 0 20px;
  border-right: 2px solid #fff;
}

ul.menu li:last-child {
  border-right-width: 0px;
}

ul.menu li a {
  display: block;
  color: #fff;
}

.icon-menu {
  font-size: 2rem;
}

.link-card {
  color: #333;
  font-size: 15px;
  text-decoration: none !important;
}

.card-title {
  font-size: 16px;
  font-weight: 400;
}

.card-custom {
  box-shadow: #efefef 4px 4px 10px;
}

.wrapper-desc-card {
  text-align: right;
  padding: 5px;
  color: #797979;
}
.wrapper-desc-card > span {
  padding-right: 5px;
}

.section-content-card {
  padding: 2rem 0;
  border-bottom: 1px solid #e2e2e2;
}

.blog-body  {
  font-weight : 300;
}

.box-button-add {
  border-radius: 7px;
  margin: 0 auto;
  width: 450px;
  height: 200px;
  background-color: #ff3232;
}

.panel-black {
  background-color: #000;
  margin: 20px;
  padding: 5px;
  width: 100%;
}


  #register_form .form-group label.error,
  #login_form .form-group label.error { 
                color:red;
                font-size:14px;
      }